body{
    margin: 0;
    padding: 0;
}

.image {
    background-image: url(orangeWhiteFlowers.jpg);
background-size: cover;
background-position: left top;
background-repeat: no-repeat;
position: relative;
width: 50%;
height: 100vh;
margin: 0;
padding: 0;
}

.image-credit {
position: absolute;
bottom: 0;
left: (10% + 10rem + 1rem);
color: rgb(255, 123, 0);
padding: 5px;
font-size: small;
}

.image-credit a {
    color: rgb(255, 123, 0);
}

.logo {
    position: absolute;
    top: 10%;
    left: 10%;
    height: auto;
    width: 10rem;
}

.header {
    position: absolute;
    top: 10%;
    left: calc(10% + 10rem + 1rem);
    font-family: "Zeyada", cursive;
    font-weight: 400;
    font-style: normal;
   font-size: 4rem;
   color: white;
}

.background-overlay {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 25vh;
    background-color: rgba(0, 0, 0, 0.3);
}

h2, h3 {
    position: absolute;
    top: 5%;
    right: 1.5vw;
    font-size: 1.5vw;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    top: 15%;
    right: 30vw;
}